<mat-toolbar color="#f5f5f5">
    <div class="author"><mat-icon>computer</mat-icon> Developed by: <br> <a href="https://github.com/MilenaTrajanoska" target="_blank">Milena Trajanoska</a>,
                                                                    <a href="https://github.com/Strailko" target="_blank">Mile Jankuloski</a>, <br>
                                                                    <a href="https://github.com/fetajif" target="_blank">Fjolla Fetaji</a>, 
                                                                    <a href="https://github.com/Trajkovska111" target="_blank">Marija Trajkovska</a>, <br>
                                                                    <a href="https://github.com/tamsii" target="_blank">Tamara Danilovska</a>,
                                                                    <a href="https://github.com/golubovablagica" target="_blank">Blagica Golubova</a>. <br>
                                                                    
                                                            <div class="displayBr"><br></div></div>
    <hr class="displayHr"/>
    <div class="source"><mat-icon>school</mat-icon> Under mentorship by: <br> <a href="https://www.finki.ukim.mk/mk/staff/lasko-basnarkov">д-р Ласко Баснарков</a></div>
</mat-toolbar>