<div class="container">
    
    <div class="content">
        <mat-card>
        <mat-stepper [orientation]="orientation" [linear]="true" #stepper>
            <mat-step [editable]="true" [optional]="false" [stepControl]="firstFormGroup">
                <div class="flex-center">
                    <form [formGroup]="firstFormGroup">
                        <ng-template matStepLabel>Одбери тип</ng-template>
                        <mat-form-field appearance="fill">
                            <mat-label>Тип</mat-label>
                            <mat-select formControlName="selectedType" name="type">
                            <mat-option [value]="type.FLAT">
                                Стан
                            </mat-option>
                            <mat-option [value]="type.HOUSE">
                                Куќа
                            </mat-option>
                            <mat-option [value]="type.CAR">
                                Автомобил
                            </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="flex">
                            <span class="spacer"></span>
                            <button mat-button matStepperNext>Следно <mat-icon>arrow_forward</mat-icon></button>
                        </div>
                    </form>
                </div>
            </mat-step>
            <mat-step *ngIf="firstFormGroup.value['selectedType'] === ''" [editable]="false" [optional]="false">
                <div class="flex-center">
                    <form [formGroup]="flat">
                        <ng-template matStepLabel>Пополни ги информациите</ng-template>
                        <div class="flex">
                            <button mat-button matStepperPrevious><mat-icon>arrow_backward</mat-icon> Назад</button>
                            <span class="spacer"></span>
                            <button mat-button matStepperNext>Следно <mat-icon>arrow_forward</mat-icon></button>
                        </div>
                    </form>
                </div>
            </mat-step>
            <mat-step *ngIf="firstFormGroup.value['selectedType'] === type.FLAT" [editable]="false" [optional]="false" [stepControl]="flat">
                <div class="flex-center">
                    <form [formGroup]="flat">
                        <ng-template matStepLabel>Пополни ги информациите за станот</ng-template>
                        <mat-form-field appearance="fill">
                            <mat-label>Латитуда</mat-label>
                            <input matInput type="number" formControlName="latitude" placeholder="Пример: 42.152" required>
                            <span matSuffix>°</span>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Лонгитуда</mat-label>
                            <input matInput type="number" formControlName="longitude" placeholder="Пример: 42.152" required>
                            <span matSuffix>°</span>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Број на соби</mat-label>
                            <input matInput type="number" formControlName="number_of_rooms" placeholder="Пример: 3" required>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Квадратура</mat-label>
                            <input matInput type="number" formControlName="square_foot" placeholder="Пример: 50" required>
                            <span matSuffix>m²</span>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Греење</mat-label>
                            <mat-select matInput formControlName="heating" required>
                                <mat-option value="Струја">
                                    Струја
                                </mat-option>
                                <mat-option value="Централно">
                                    Централно
                                </mat-option>
                                <mat-option value="Соларнаенергија">
                                    Соларна енергија
                                </mat-option>
                                <mat-option value="Друго">
                                    Друго
                                </mat-option>
                                <mat-option value="Нема">
                                    Нема
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Спрат</mat-label>
                            <mat-select matInput formControlName="floor" required>
                                <mat-option value="спрат_1кат">
                                    1 спрат
                                </mat-option>
                                <mat-option value="спрат_2кат">
                                    2 спрат
                                </mat-option>
                                <mat-option value="спрат_3кат">
                                    3 спрат
                                </mat-option>
                                <mat-option value="спрат_4кат">
                                    4 спрат
                                </mat-option>
                                <mat-option value="спрат_5кат">
                                    5 спрат
                                </mat-option>
                                <mat-option value="спрат_6кат">
                                    6 спрат
                                </mat-option>
                                <mat-option value="спрат_7кат">
                                    7 спрат
                                </mat-option>
                                <mat-option value="спрат_8кат">
                                    8 спрат
                                </mat-option>
                                <mat-option value="спрат_9кат">
                                    9 спрат
                                </mat-option>
                                <mat-option value="спрат_10кат">
                                    10 спрат
                                </mat-option>
                                <mat-option value="спрат_11кат">
                                    11 спрат
                                </mat-option>
                                <mat-option value="спрат_12кат">
                                    12 спрат
                                </mat-option>
                                <mat-option value="спрат_13кат">
                                    13 спрат
                                </mat-option>
                                <mat-option value="спрат_14кат">
                                    14 спрат
                                </mat-option>
                                <mat-option value="спрат_>15кат">
                                    15 спрат или повеќе
                                </mat-option>
                                <mat-option value="поткровје">
                                    Поткровје
                                </mat-option>
                                <mat-option value="приземје">
                                    Приземје
                                </mat-option>
                                <mat-option value="сутеренстан">
                                    Сутерен стан
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Тип на стан</mat-label>
                            <mat-select matInput formControlName="type_of_flat" required>
                                <mat-option value="вокуќа">
                                    Во куќа
                                </mat-option>
                                <mat-option value="возграда">
                                    Во зграда
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Состојба</mat-label>
                            <mat-select matInput formControlName="state" required>
                                <mat-option value="нов">
                                    Нов
                                </mat-option>
                                <mat-option value="реновиран">
                                    Реновиран
                                </mat-option>
                                <mat-option value="стар">
                                    Стар
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Опрема</mat-label>
                            <mat-select matInput formControlName="equipment" required>
                                <mat-option value="наместен">
                                    Наместен
                                </mat-option>
                                <mat-option value="полунаместен">
                                    Полунаместен
                                </mat-option>
                                <mat-option value="празен">
                                    Празен
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Лифт</mat-label>
                            <mat-select matInput formControlName="elevator" required>
                                <mat-option value="да">
                                    Да
                                </mat-option>
                                <mat-option value="не">
                                    Не
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Број на балкони</mat-label>
                            <mat-select matInput formControlName="number_of_balconies" required>
                                <mat-option value="1тераса">
                                    1 тераса
                                </mat-option>
                                <mat-option value="2балкони">
                                    2 балкони
                                </mat-option>
                                <mat-option value="3балкони">
                                    3 балкони
                                </mat-option>
                                <mat-option value="нема">
                                    Нема балкон
                                </mat-option>
                                <mat-option value="Повеќеод3балкони">
                                    Повеќе од 3 балкони
                                </mat-option>
                                <mat-option value="Тераса+1балкон">
                                    Тераса и 1 балкон
                                </mat-option>
                                <mat-option value="Тераса+2балкони">
                                    Тераса и 2 балкони
                                </mat-option>
                                <mat-option value="Тераса+3балкони">
                                    Тераса и 3 балкони
                                </mat-option>
                                <mat-option value="Тераса+повеќеод3балкони">
                                    Тераса и повеќе од 3 балкони
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Број на бањи</mat-label>
                            <mat-select matInput formControlName="number_of_bathrooms" required>
                                <mat-option value="2">
                                    Од 1 до 2 бањи
                                </mat-option>
                                <mat-option value="повеќеод2">
                                    Повеќе од 2 бањи
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Подрум</mat-label>
                            <mat-select matInput formControlName="basement" required>
                                <mat-option value="да">
                                    Да
                                </mat-option>
                                <mat-option value="не">
                                    Не
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Број на паркинг / гаража</mat-label>
                            <mat-select matInput formControlName="number_of_parkings_garage" required>
                                <mat-option value="1паркинг">
                                    1 паркинг место
                                </mat-option>
                                <mat-option value="2паркингместа">
                                    2 паркинг места
                                </mat-option>
                                <mat-option value="3паркингместа">
                                    3 паркинг места
                                </mat-option>
                                <mat-option value="повеќеод3паркингместа">
                                    Повеќе од 3 паркинг места
                                </mat-option>
                                <mat-option value="гаража+1паркинг">
                                    Гаража и 1 паркинг место
                                </mat-option>
                                <mat-option value="гаража+2паркингместа">
                                    Гаража и 2 паркинг места
                                </mat-option>
                                <mat-option value="гаража+3паркингместа">
                                    Гаража и 3 паркинг места
                                </mat-option>
                                <mat-option value="гаража+повеќеод3паркингместа">
                                    Гаража и повеќе од 3 паркинг места
                                </mat-option>
                                <mat-option value="нема">
                                    Нема
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Ориентација</mat-label>
                            <mat-select matInput formControlName="orientation" required>
                                <mat-option value="исток">
                                    Исток
                                </mat-option>
                                <mat-option value="запад">
                                    Запад
                                </mat-option>
                                <mat-option value="север">
                                    Север
                                </mat-option>
                                <mat-option value="југ">
                                    Југ
                                </mat-option>
                                <mat-option value="северозапад">
                                    Северозапад
                                </mat-option>
                                <mat-option value="североисток">
                                    Североисток
                                </mat-option>
                                <mat-option value="југозапад">
                                    Југозапад
                                </mat-option>
                                <mat-option value="југоисток">
                                    Југоисток
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="flex">
                            <button mat-button matStepperPrevious><mat-icon>arrow_backward</mat-icon> Назад</button>
                            <span class="spacer"></span>
                            <button mat-button matStepperNext (click)="calculate()">Следно <mat-icon>arrow_forward</mat-icon></button>
                        </div>
                    </form>
                </div>
            </mat-step>
            <mat-step *ngIf="firstFormGroup.value['selectedType'] === type.CAR" [editable]="false" [optional]="false" [stepControl]="car">
                <div class="flex-center">
                    <form [formGroup]="car">
                        <ng-template matStepLabel>Пополни ги информациите за автомобилот</ng-template>
                        <mat-form-field appearance="fill">
                            <mat-label>Латитуда</mat-label>
                            <input matInput type="number" formControlName="latitude" placeholder="Пример: 42.152" required>
                            <span matSuffix>°</span>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Лонгитуда</mat-label>
                            <input matInput type="number" formControlName="longitude" placeholder="Пример: 42.152" required>
                            <span matSuffix>°</span>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Марка</mat-label>
                            <input type="text" matInput formControlName="brand" [matAutocomplete]="brand" placeholder="Пример: Fiat" required>
                            <mat-autocomplete #brand="matAutocomplete" [displayWith]="displayFnBrand">
                              <mat-option *ngFor="let option of filteredOptionsBrand | async" [value]="option | titlecase">
                                {{option | titlecase}}
                              </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Модел</mat-label>
                            <input type="text" matInput formControlName="model" [matAutocomplete]="model" placeholder="Пример: Punto" required>
                            <mat-autocomplete #model="matAutocomplete" [displayWith]="displayFnModel">
                              <mat-option *ngFor="let option of filteredOptionsModel | async" [value]="option | titlecase">
                                {{option | titlecase}}
                              </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Година</mat-label>
                            <input matInput type="number" formControlName="year" placeholder="Пример: 2005" required>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Гориво</mat-label>
                            <mat-select matInput formControlName="fuel" required>
                                <mat-option value="бензин/плин">
                                    Бензин / плин
                                </mat-option>
                                <mat-option value="дизел">
                                    Дизел
                                </mat-option>
                                <mat-option value="хибрид">
                                    Хибрид
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Изминати километри</mat-label>
                            <input matInput type="number" formControlName="km" placeholder="Пример: 250000" required>
                            <span matSuffix>km²</span>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Менувач</mat-label>
                            <mat-select matInput formControlName="shifter" required>
                                <mat-option value="автоматски">
                                    Автомaтски
                                </mat-option>
                                <mat-option value="полуавтоматски">
                                    Полуавтоматски
                                </mat-option>
                                <mat-option value="рачен">
                                    Рачен
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Каросерија</mat-label>
                            <mat-select matInput formControlName="body" required>
                                <mat-option value="кабриолети">
                                    Кабриолет
                                </mat-option>
                                <mat-option value="каравани">
                                    Караван
                                </mat-option>
                                <mat-option value="купеа">
                                    Купе
                                </mat-option>
                                <mat-option value="моноволумен">
                                    Моноволумен
                                </mat-option>
                                <mat-option value="седани">
                                    Седан
                                </mat-option>
                                <mat-option value="теренци-suv">
                                    Теренец (SUV)
                                </mat-option>
                                <mat-option value="хеџбек">
                                    Хеџбек
                                </mat-option>
                                <mat-option value="останато">
                                    Останато
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Боја</mat-label>
                            <mat-select matInput formControlName="color" required>
                                <mat-option value="жолта">
                                    жолта
                                </mat-option>
                                <mat-option value="зелена">
                                    зелена
                                </mat-option>
                                <mat-option value="златна">
                                    златна
                                </mat-option>
                                <mat-option value="сива">
                                    сива
                                </mat-option>
                                <mat-option value="сина">
                                    сина
                                </mat-option>
                                <mat-option value="црвена">
                                    црвена
                                </mat-option>
                                <mat-option value="црна">
                                    црна
                                </mat-option>
                                <mat-option value="друга">
                                    друга
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Регистрација</mat-label>
                            <mat-select matInput formControlName="registration" required>
                                <mat-option value="македонска">
                                    македонска
                                </mat-option>
                                <mat-option value="странска">
                                    странска
                                </mat-option>
                                <mat-option value="нема">
                                    нема
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Регистрирана до</mat-label>
                            <input matInput [matDatepicker]="dp" formControlName="registered_until" placeholder="Пример: 31/01/2023" required>
                            <mat-hint>MM/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                            <mat-datepicker #dp
                                            startView="multi-year"
                                            (monthSelected)="setMonthAndYear($event, dp)"
                                            panelClass="example-month-picker">
                            </mat-datepicker>                            
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Класа на емисија</mat-label>
                            <mat-select matInput formControlName="emission_class" required>
                                <mat-option value="еуро1">
                                    Еуро1
                                </mat-option>
                                <mat-option value="еуро2">
                                    Еуро2
                                </mat-option>
                                <mat-option value="еуро3">
                                    Еуро3
                                </mat-option>
                                <mat-option value="еуро4">
                                    Еуро4
                                </mat-option>
                                <mat-option value="еуро5">
                                    Еуро5
                                </mat-option>
                                <mat-option value="еуро6">
                                    Еуро6
                                </mat-option>
                                <mat-option value="останато">
                                    Останато
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Киловати</mat-label>
                            <input matInput type="number" formControlName="kw" placeholder="Пример: 100" required>
                            <span matSuffix>kW</span>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Коњски сили</mat-label>
                            <input matInput type="number" formControlName="hp" placeholder="Пример: 136" required>
                        </mat-form-field>
                        <div class="flex">
                            <button mat-button matStepperPrevious><mat-icon>arrow_backward</mat-icon> Назад</button>
                            <span class="spacer"></span>
                            <button mat-button matStepperNext (click)="calculate()">Следно <mat-icon>arrow_forward</mat-icon></button>
                        </div>
                    </form>
                </div>
            </mat-step>
            <mat-step *ngIf="firstFormGroup.value['selectedType'] === type.HOUSE" [editable]="false" [optional]="false" [stepControl]="house">
                <div class="flex-center">
                    <form [formGroup]="house">
                        <ng-template matStepLabel>Пополни ги информациите за куќата</ng-template>
                        <mat-form-field appearance="fill">
                            <mat-label>Латитуда</mat-label>
                            <input matInput type="number" formControlName="latitude" placeholder="Пример: 42.152" required>
                            <span matSuffix>°</span>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Лонгитуда</mat-label>
                            <input matInput type="number" formControlName="longitude" placeholder="Пример: 42.152" required>
                            <span matSuffix>°</span>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Број на соби</mat-label>
                            <input matInput type="number" formControlName="number_of_rooms" placeholder="Пример: 3" required>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Квадратура</mat-label>
                            <input matInput type="number" formControlName="square_foot" placeholder="Пример: 50" required>
                            <span matSuffix>m²</span>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Број на спратови</mat-label>
                            <mat-select matInput formControlName="number_of_floors" required>
                                <mat-option value="Приземје">
                                    Приземје
                                </mat-option>
                                <mat-option value="Високоприземје">
                                    Високо приземје
                                </mat-option>
                                <mat-option value="2спрата">
                                    1 спрат
                                </mat-option>
                                <mat-option value="2спрата">
                                    2 спрата
                                </mat-option>
                                <mat-option value="3спрата">
                                    3 спрата
                                </mat-option>
                                <mat-option value=">=4спрата">
                                    Повеќе од 3 спрата
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Греење</mat-label>
                            <mat-select matInput formControlName="heating" required>
                                <mat-option value="Струја">
                                    Струја
                                </mat-option>
                                <mat-option value="Централно">
                                    Централно
                                </mat-option>
                                <mat-option value="Соларнаенергија">
                                    Соларна енергија
                                </mat-option>
                                <mat-option value="Друго">
                                    Друго
                                </mat-option>
                                <mat-option value="Нема">
                                    Нема
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Дворна површина</mat-label>
                            <input matInput type="number" formControlName="yard_area" placeholder="Пример: 500" required>
                            <span matSuffix>m²</span>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Тип на домот</mat-label>
                            <mat-select matInput formControlName="type_of_house" required>
                                <mat-option value="Мултисемејнакуќа">
                                    Мулти-семејна куќа
                                </mat-option>
                                <mat-option value="Двo-семејнакуќа">
                                    Двo-семејна куќа
                                </mat-option>
                                <mat-option value="Дуплекс-Лепенакуќа">
                                    Дуплекс / лепена куќа
                                </mat-option>
                                <mat-option value="Еднасемејнакуќа-Самостојна">
                                    Едно-семејна куќа
                                </mat-option>
                                <mat-option value="Половинакуќа">
                                    Половина куќа
                                </mat-option>
                                <mat-option value="Останато">
                                    Останато
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Состојба</mat-label>
                            <mat-select matInput formControlName="state" required>
                                <mat-option value="стара">
                                    Стара
                                </mat-option>
                                <mat-option value="нова">
                                    Нова
                                </mat-option>
                                <mat-option value="реновирана">
                                    Реновирана
                                </mat-option>
                                <mat-option value="воградба">
                                    Во градба
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Опрема</mat-label>
                            <mat-select matInput formControlName="equipment" required>
                                <mat-option value="наместен">
                                    Наместена
                                </mat-option>
                                <mat-option value="полунаместен">
                                    Полунаместена
                                </mat-option>
                                <mat-option value="празен">
                                    Празна
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Број на балкони</mat-label>
                            <mat-select matInput formControlName="number_of_balconies" required>
                                <mat-option value="1Тераса">
                                    1 тераса
                                </mat-option>
                                <mat-option value="2Балкони">
                                    2 балкони
                                </mat-option>
                                <mat-option value="3Балкони">
                                    3 балкони
                                </mat-option>
                                <mat-option value="4Балкони">
                                    4 балкони
                                </mat-option>
                                <mat-option value="5Балкони">
                                    5 балкони
                                </mat-option>
                                <mat-option value="Нема">
                                    Нема балкон
                                </mat-option>
                                <mat-option value="Повеќеод5балкони">
                                    Повеќе од 5 балкони
                                </mat-option>
                                <mat-option value="Тераса+1Балкон">
                                    Тераса и 1 балкон
                                </mat-option>
                                <mat-option value="Тераса+2Балкони">
                                    Тераса и 2 балкони
                                </mat-option>
                                <mat-option value="Тераса+3Балкони">
                                    Тераса и 3 балкони
                                </mat-option>
                                <mat-option value="Тераса+4Балкони">
                                    Тераса и 4 балкони
                                </mat-option>
                                <mat-option value="Тераса+5Балкони">
                                    Тераса и 5 балкони
                                </mat-option>
                                <mat-option value="Тераса+Повеќеод5балкони">
                                    Тераса и повеќе од 5 балкони
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Број на бањи</mat-label>
                            <mat-select matInput formControlName="number_of_bathrooms" required>
                                <mat-option value="2">
                                    Од 1 до 2 бањи
                                </mat-option>
                                <mat-option value="3">
                                    3 бањи
                                </mat-option>
                                <mat-option value="4">
                                    4 бањи
                                </mat-option>
                                <mat-option value="Повеќеод4">
                                    Повеќе од 4 бањи
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Подрум</mat-label>
                            <mat-select matInput formControlName="basement" required>
                                <mat-option value="Да">
                                    Да
                                </mat-option>
                                <mat-option value="Не">
                                    Не
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Број на паркинг / гаража</mat-label>
                            <mat-select matInput formControlName="number_of_parkings_garage" required>
                                <mat-option value="Бројнапаркинг/гаража_1Паркинг">
                                    1 паркинг место
                                </mat-option>
                                <mat-option value="Бројнапаркинг/гаража_2Паркингместа">
                                    2 паркинг места
                                </mat-option>
                                <mat-option value="Бројнапаркинг/гаража_3Паркингместа">
                                    3 паркинг места
                                </mat-option>
                                <mat-option value="Бројнапаркинг/гаража_4Паркингместа">
                                    4 паркинг места
                                </mat-option>
                                <mat-option value="Бројнапаркинг/гаража_Повеќеод4паркингместа">
                                    Повеќе од 4 паркинг места
                                </mat-option>
                                <mat-option value="Бројнапаркинг/гаража_Гаража+1Паркинг">
                                    Гаража и 1 паркинг место
                                </mat-option>
                                <mat-option value="Бројнапаркинг/гаража_Гаража+2Паркингместа">
                                    Гаража и 2 паркинг места
                                </mat-option>
                                <mat-option value="Бројнапаркинг/гаража_Гаража+3Паркингместа">
                                    Гаража и 3 паркинг места
                                </mat-option>
                                <mat-option value="Бројнапаркинг/гаража_Гаража+4Паркингместа">
                                    Гаража и 4 паркинг места
                                </mat-option>
                                <mat-option value="Бројнапаркинг/гаража_Гаража+Повеќеод4паркингместа">
                                    Гаража и повеќе од 4 паркинг места
                                </mat-option>
                                <mat-option value="Бројнапаркинг/гаража_Нема">
                                    Нема
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Ориентација</mat-label>
                            <mat-select matInput formControlName="orientation" required>
                                <mat-option value="Исток">
                                    Исток
                                </mat-option>
                                <mat-option value="Запад">
                                    Запад
                                </mat-option>
                                <mat-option value="Север">
                                    Север
                                </mat-option>
                                <mat-option value="Југ">
                                    Југ
                                </mat-option>
                                <mat-option value="Северозапад">
                                    Северозапад
                                </mat-option>
                                <mat-option value="Североисток">
                                    Североисток
                                </mat-option>
                                <mat-option value="Југозапад">
                                    Југозапад
                                </mat-option>
                                <mat-option value="Југоисток">
                                    Југоисток
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="flex">
                            <button mat-button matStepperPrevious><mat-icon>arrow_backward</mat-icon> Назад</button>
                            <span class="spacer"></span>
                            <button mat-button matStepperNext (click)="calculate()">Следно <mat-icon>arrow_forward</mat-icon></button>
                        </div>
                    </form>
                </div>
            </mat-step>
            <mat-step [editable]="false" [optional]="false">
                <div class="flex-center">
                    <ng-template matStepLabel>Пресметај цена</ng-template>
                    <p *ngIf="loading">Цената се пресметува...</p>
                    <mat-spinner *ngIf="loading"></mat-spinner>
                    <p *ngIf="!loading">Цената изнесува:</p>
                    <div *ngIf="!loading">
                        <h1>{{result['price']}}</h1>
                    </div>
                    <div class="flex">
                        <span class="spacer"></span>
                        <button [disabled]="loading" mat-button (click)="reset()"><mat-icon>refresh</mat-icon> Пресметај повторно</button>
                    </div>
                </div>
            </mat-step>
          </mat-stepper>
        </mat-card>
    </div>
    
</div>